.app {
  text-align: center;
  display: flex;
}

.app__left {
  height: 100vh;
  flex: 0.5;
  justify-content: center;
  align-items: center;
}

.app__left > .buttons {
  display: flex;
}

.app__right {
  height: 100vh;
  flex: 0.5;
}

body {
  background-color: #FCF3DD;
}