.app {
  text-align: center;
  display: flex;
}

.app__left {
  height: 100vh;
  flex: 0.5;
  justify-content: center;
  align-items: center;
}

.app__left > .pages {
  justify-content: space-around;
}

.app__left > .pages > .previous {
  margin-right: 20px;
  color: blueviolet;
  background-color: aquamarine;
}

.app__left > .pages > .next {
  margin-left: 20px;
  color: blueviolet;
  background-color: aquamarine;
}

.app__right {
  height: 100vh;
  flex: 0.5;
}

body {
  background-color: #FCF3DD;
}